a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.wrapper {
  min-height: 100vh;
  justify-content: center;
}

.cover {
  max-width: 380px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.padding30 {
  padding: 30px 30px;
}

.align-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
}
.logo {
  max-width: 280px;
}
